@tailwind base;
@tailwind components;
@tailwind utilities;
 
 @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 0%;
      --card: 0 0% 100%;
      --card-foreground: 240 6.67% 2.94%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.92%;
      --primary: 240 5.88% 10%;
      --primary-foreground: 0 0% 100%;
      --secondary: 240 4.76% 95.88%;
      --secondary-foreground: 240 5.88% 10%;
      --muted: 240 4.76% 95.88%;
      --muted-foreground: 240 3.83% 46.08%;
      --accent: 240 4.76% 95.88%;
      --accent-foreground: 240 5.88% 10%;
      --destructive: 0 65.33% 44.12%;
      --destructive-foreground: 0 0% 98.04%;
      --border: 240 5.88% 90%;
      --input: 268.24 42.5% 84.31%;
      --ring: 240 5.03% 64.9%;
      --radius: 0.5;
    }
  
    .dark {
      --background: 257.14 24.14% 5.69%;
      --foreground: 0 0% 98.04%;
      --card: 257.14 24.14% 5.69%;
      --card-foreground: 0 0% 98.04%;
      --popover: 256.36 20% 10.78%;
      --popover-foreground: 0 0% 98.04%;
      --primary: 188.35 86.61% 43.92%;
      --primary-foreground: 0 0% 98.04%;
      --secondary: 256.36 20% 10.78%;
      --secondary-foreground: 0 0% 98.04%;
      --muted: 256.36 20% 10.78%;
      --muted-foreground: 0 0% 74.51%;
      --accent: 256.36 20% 10.78%;
      --accent-foreground: 0 0% 98.04%;
      --destructive: 0 83.41% 55.1%;
      --destructive-foreground: 0 0% 98.04%;
      --border: 208 58.82% 20%;
      --input: 256.36 20% 10.78%;
      --ring: 188.35 86.61% 43.92%;
      --radius: 0.5;
    }
  }
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
